<%- include('./partials/head') %>

    <%- include('./partials/header') %>
        <!-- product detail -->
        <div class="container products-wrapper">
            <div class="d-flex align-items-center">
                <h2 class="products-title">Camiseta Argentina Maradona</h2>
                <p class="product-detail-description">
                    <a href="/productos/aniadir-productos">Editar</a>
                </p>
            </div>
            <div class="product-detail">
                <div class="row">
                    <article class="col-12 col-lg-8 product-detail-info">
                        <img src="/images/dam.jpg" alt="" class="product-detail-img">
                        <p class="product-detail-description">
                            Esta es la camiseta que uso Diego Armando Maradona en aquella final de Mundial 1990 que
                            lamentablemente Argentina sufrio la derrotada ante Alemania por 1-0 </p>
                    </article>
                    <div class="col-12 col-lg-4">
                        <% for( let i=0; i < lista.length; i++ ) { %>
                            <section class="comments">
                                <article>
                                    <img src="<%= lista[i].foto_perfil %>" alt="">
                                    <div class="data">
                                        <p class="user">
                                            <strong> <a href="/users/profile"><%= lista[i].nombre_de_usuario %></a> </strong>
                                            <%= lista[i].texto %>
                                        </p>
                                    </div>
                                </article>
                            </section>
                            <% } %>
                                <form class="form" action="" method="POST">
                                    <input class="form-input" type="text" value="" placeholder="Agregar comentario">
                                    <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                                </form>
                                <hr>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- /product detail -->
        <%- include('./partials/footer') %>