<%- include('./partials/head') %>
    <% if (locals.user) { %>
        <%- include('./partials/headerLogueado') %>
            <% } else { %>
                <%- include('./partials/header') %>
                    <% } %>
                        <!-- Datos del usuario -->
                        <section class="info-usuario container products-wrapper">
                            <div class="row">
                                <div class="img-container offset-3 col-2">
                                    <img src="<%= usuario.fotoDePerfil %>" alt="foto de perfil" class="foto-perfil">
                                </div>
                                <div class="data-container col-6">
                                    <div class="d-flex align-items-center ">
                                        <ul>
                                            <h1 class="main-title">
                                                <%= usuario.nombre %>

                                            </h1>
                                            <h3>
                                                <%= usuario.email %>
                                            </h3>
                                        </ul>
                                        <a class="btn mt-3 ml-4" href="">SEGUIR</a>
                                    </div><br>
                                    <div>
                                        <ul class="">
                                            <li>Productos cargados : <%= usuario.producto.length %>
                                            </li>
                                        </ul>
                                    </div><br><br>
                                    <div>
                                        <% if (locals.user && locals.user.id===usuario.id) { %>
                                            <a class="btn btnUpdate"
                                                href="/users/profile-edit/<%= usuario.id %>">Editar</a>
                                            <% } %>
                                    </div>
                                </div>
                            </div>
                        </section>


                        <!-- /Datos del usuario -->

                        <div class="container products-wrapper">
                            <div class="row">
                                <div class="col-12">
                                    <h2 class="products-title">Mis Productos</h2>
                                </div>
                                <% for( let i=0; i < usuario.producto.length; i++ ) { %>

                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <section class="product-box">
                                            <a href="/productos/detalle-productos/<%= usuario.producto[i].id %>">
                                                <figure class="product-box_image">
                                                    <img src="<%= usuario.producto[i].img %>" alt="imagen subida"
                                                        width="100%" class="tamano">
                                                </figure>
                                                <article class="product-box_data">
                                                    <h3 class="text"> Nombre : <%=usuario.producto[i].nombre %>
                                                    </h3>
                                                    <p class="text"> Descpricion: <%=usuario.producto[i].descripcion %>
                                                    </p>
                                                </article>
                                            </a>
                                        </section>
                                    </div>
                                    <% } %>
                            </div>
                        </div>

                        <%- include('./partials/footer') %>